/* License for the Roboto font family.

 Copyright 2015 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

@font-face {
  font-family: 'Roboto';
  src: url('/static/font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/font/RobotoSlab-Regular.ttf') format('truetype');
}

body {
  background-color: #fbf5ef;
  font-size: 18px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #272744;
}

a {
  text-decoration: underline; 
  color: #aa6973;
}

.content {
  max-width: 725px;
  overflow-wrap: break-word;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  margin: auto;
  width: 70%;
  color: #494d7e;
}

.data {
  border-top: 2px dashed;
  padding: 20px 0 0;
}

#btnarea {
  width: 100%;
  padding-bottom: 2em;
}

textarea {
  margin: 1em 0;
  padding: 1em;
  rows: 10;
  width: 100%;
  height: 10em;
}

input[type="text"] {
  outline: none;
  border: 1px solid #272744;
  width: 100%;
  height: 1000px;
}

input[type="text"]:focus {
  border: 1px solid #f2d3ab;
  transition: 0.5s;
}

input[type="submit"] {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background-color: #494d7e;
  color: #fbf5ef;
  cursor: pointer;
}

.ascii-art {
  display: inline-block; 
  white-space: pre;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 0.8em;
  text-shadow: 0 0 5px rgba(100,100,100,0.5);
}

#footer {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

figure img {
  width: 100%;
}

figure {
  margin: 1rem 0;
  border-radius: 4px;
}

figcaption h4 {
  margin: .5rem;
  text-align: center;
}
