<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Donate using MoneroPay!</title>
  <meta name="description" content="Donate to Kernal - Kernal is a small funny, friendly and talented community of „hackers“ or other weirdos.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <div class="content">
    <h1>You can donate your Monero via this address:</h1>
    <h3 class="paste">{{.Subaddress}}</h3>
    <div id="btnarea">
      <input type="submit" id="btn" value="Copy to clipboard" data-clipboard-target=".paste">
    </div>
    <script src="/static/js/clipboard.min.js"></script>
    <script>
    var clipboard = new ClipboardJS('#btn');
    </script>
    <div class="data">
      Track your donation here:
      <a href="https://matrix.to/#/!mtTzQUdVThaPxMEdRf:kernal.eu?via=kernal.eu&via=matrix.org">#join:kernal.eu</a>.</p>
    </div>
    <div id="footer">
      <span><a id="lf" href="https://kernal.eu">kernal.eu</a></span>
      <span><a id="rf" href="https://gitlab.com/kernal/kDonate">source code</a></span>
    </div>
  </div>
</body>
